<form [formGroup]="form" class="form-container">
  <h2 class="text-center">Cadastrar uma Igreja</h2>
  <mat-card>
    <mat-card-content>
      <h3>Dados da Igreja</h3>
      <div class="form-grid">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>CEP</mat-label>
          <input
            matInput
            formControlName="cep"
            maxlength="9"
            mask="00000-000"
            maskPlaceholder="_____-___"
            (blur)="getCEP()"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="endereco" />
        </mat-form-field>


        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="half-width">
              <mat-label>Complemento</mat-label>
              <input matInput formControlName="complemento" />
            </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone" mask="(00) 0000-0000" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>WhatsApp</mat-label>
          <input matInput formControlName="whatsapp" mask="(00) 00000-0000" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>E-mail de contato</mat-label>
          <input matInput formControlName="emailContato" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Nome da Igreja</mat-label>
          <input matInput formControlName="nomeIgreja" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Nome do Pároco</mat-label>
          <input matInput formControlName="nomeParoco" />
        </mat-form-field>
      </div>

      <h3>Horários</h3>
      <!-- Lista de horários adicionados -->
      <div formArrayName="missas">
        <div
          *ngFor="let horarioCtrl of horarios.controls; let i = index"
          [formGroupName]="i"
          class="form-grid"
        >
          <!-- Seleção do dia da semana -->
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Dia da semana</mat-label>
            <mat-select formControlName="diaSemana">
              <mat-option *ngFor="let dia of diasSemana" [value]="dia.key">
                {{ dia.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Campo de horário -->
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Horário</mat-label>
            <input matInput type="time" formControlName="horario" />
            <mat-error
              *ngIf="horarioCtrl.get('horario')?.hasError('minutosInvalidos')"
            >
              Os minutos devem ser 00, 15, 30 ou 45.
            </mat-error>
          </mat-form-field>

          <!-- Campo de observação -->
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Observação</mat-label>
            <input matInput type="text" formControlName="observacao" />
          </mat-form-field>

          <!-- Botão para remover horário -->
          <button mat-icon-button color="warn" (click)="removerHorario(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>

      <!-- Botão para adicionar novo horário -->
      <div class="btn-container">
        <button mat-raised-button color="primary" (click)="adicionarHorario()">
          Novo horário
        </button>
      </div>
      <mat-divider class="mt-4 mb-4"></mat-divider>

      <h3>Redes Sociais</h3>
      <div class="form-grid">
        <!-- Rede Social: Facebook -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Facebook</mat-label>
          <input matInput formControlName="facebook" />
        </mat-form-field>

        <!-- Rede Social: Instagram -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Instagram</mat-label>
          <input matInput formControlName="instagram" />
        </mat-form-field>

        <!-- Rede Social: YouTube -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>YouTube</mat-label>
          <input matInput formControlName="youtube" />
        </mat-form-field>

        <!-- Rede Social: TikTok -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>TikTok</mat-label>
          <input matInput formControlName="tiktok" />
        </mat-form-field>
      </div>

      <mat-divider class="mt-4 mb-4"></mat-divider>

      <h3>Foto</h3>
      <!-- Imagem -->

      <input type="file" (change)="onImageSelect($event)" />
      <mat-hint>{{ imageName }}</mat-hint>
      <!-- Exibe o nome do arquivo -->
    </mat-card-content>
    <hr />
    <mat-card-actions class="text-center">
      <button
        mat-raised-button
        color="primary"
        (click)="submit()"
        type="submit"
      >
        Cadastrar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
