<div class="hero">
  <h1></h1>
  <p></p>
</div>
<!-- <app-loading *ngIf="isLoading" /> -->
<p-panel class="p-1">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-fieldset legend="Endereço">
      <div class="flex flex-col gap-2">
        <label for="username">CEP</label>
        <p-inputmask
          formControlName="cep"
          mask="99999-999"
          placeholder="CEP"
          (onBlur)="getCEP()"
          class="w-full"
          id="cep"
        />
      </div>
      <br>
      <div class="flex flex-wrap gap-4 w-full">

        <div class="flex flex-col gap-2">
          <label for="endereco">Endereço</label>
          <input
            pInputText
            id="endereco"
            formControlName="endereco"
            placeholder="Endereço"
            class="w-150"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="numero">Número</label>
          <input
            pInputText
            formControlName="numero"
            placeholder="Número"
            pKeyFilter="int"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="bairro">Bairro</label>
          <input pInputText formControlName="bairro" placeholder="Bairro" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="cidade">Cidade</label>
          <input pInputText formControlName="cidade" placeholder="Cidade" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="estado">Estado</label>
          <input pInputText formControlName="estado" placeholder="Estado" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="complemento">Complemento</label>
          <input
            pInputText
            formControlName="complemento"
            placeholder="Complemento"
          />
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="Contatos Igreja">
      <div class="flex flex-wrap gap-4">
      <div class="flex flex-col gap-2">
        <label for="telefone">Telefone</label>
        <p-inputmask
          formControlName="telefone"
          mask="(99) 9999-9999"
          placeholder="Telefone"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="whatsapp">WhatsApp</label>
        <p-inputmask
          formControlName="whatsapp"
          mask="(99) 99999-9999"
          placeholder="WhatsApp"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="emailContato">E-mail de contato</label>
        <input
          pInputText
          formControlName="emailContato"
          placeholder="E-mail de contato"
        />
      </div>
    </div>
    </p-fieldset>

    <p-fieldset legend="Dados Igreja">
      <div class="flex flex-wrap gap-4">

        <div class="flex flex-1 flex-col gap-2">
          <label for="nomeIgreja">Tipo da Igreja</label>
          <p-select formControlName="typeChurch" [options]="typeChurch" [(ngModel)]="selectedChurch" optionLabel="name" placeholder="Tipo da Igreja" class="w-full" />
        </div>

        <div class="flex flex-1 flex-col gap-2">
          <label for="nomeIgreja">Nome da Igreja</label>
          <input pInputText formControlName="nomeIgreja" placeholder="Nome da Igreja" class="w-full" />
        </div>

        <div class="flex flex-1 flex-col gap-2">
          <label for="nomeParoco">Nome do Pároco</label>
          <input pInputText formControlName="nomeParoco" placeholder="Nome do Pároco" class="w-full" />
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Horários">
      <div class="flex flex-wrap gap-4">
        <div formArrayName="missas">
          <div
            *ngFor="let horarioCtrl of horarios.controls; let i = index"
            [formGroupName]="i"
            class="inline-flex gap-4 pt-4"
          >
            <p-select
              formControlName="diaSemana"
              [options]="diasSemana"
              optionLabel="label"
              optionValue="key"
              placeholder="Selecione o dia"
              class="w-100"
            ></p-select>

            <p-datepicker
              inputId="calendar-timeonly"
              formControlName="horario"
              [timeOnly]="true"
              [showTime]="true"
              [placeholder]="'Selecione o horário'"
              [appendTo]="'body'"
            >
            </p-datepicker>
            <small
              id="username-help"
              *ngIf="horarioCtrl.get('horario')?.hasError('minutosInvalidos')"
            >
              Os minutos devem ser 00, 15, 30 ou 45.
            </small>

            <input
              pInputText
              formControlName="observacao"
              placeholder="Observação"
              class="w-full"
            />

            <p-button icon="pi pi-trash" (click)="removerHorario(i)"></p-button>
          </div>
        </div>
      </div>
      <div class="pt-4">
        <p-button
          label="Novo horário"
          icon="pi pi-plus"
          class="p-button-primary"
          size="small"
          (click)="adicionarHorario()"
        ></p-button>
      </div>
    </p-fieldset>
    <p-fieldset legend="Redes sociais">
      <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-facebook"></i>
          </p-inputgroup-addon>
          <input pInputText formControlName="facebook" placeholder="Facebook" />
        </p-inputgroup>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-instagram"></i>
          </p-inputgroup-addon>
          <input
            pInputText
            formControlName="instagram"
            placeholder="Instagram"
          />
        </p-inputgroup>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-youtube"></i>
          </p-inputgroup-addon>
          <input pInputText formControlName="youtube" placeholder="YouTube" />
        </p-inputgroup>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-tiktok"></i>
          </p-inputgroup-addon>
          <input pInputText formControlName="tiktok" placeholder="TikTok" />
        </p-inputgroup>
      </div>
    </p-fieldset>
    <p-fieldset legend="Foto">
      <p-toast />
      <div *ngIf="form.get('imagem')?.value" class="flex justify-center">
        <img *ngIf="!form.get('imagem')?.value"
          [src]="'data:image/png;base64,' + form.get('imagem')?.value"
          alt="Imagem da Igreja"
          width="200"
          height="200"
        />
      </div>
      <br />
      <p-fileupload
        mode="basic"
        chooseIcon="pi pi-upload"
        accept="image/*"
        maxFileSize="1000000"
        (onSelect)="onImageSelect($event)"
        chooseLabel="{{
          form.get('imagem')?.value ? 'Alterar imagem' : 'Selecionar foto'
        }}"
      >
      </p-fileupload>
    </p-fieldset>
    <div class="pt-4">
      <p-button type="submit" label="{{ isEditMode ? 'Salvar Alterações' : 'Cadastrar Igreja' }}"></p-button>
    </div>
  </form>
</p-panel>
