<div class="hero">
  <h1>Cadastro de igreja</h1>
</div>
<app-loading *ngIf="isLoading" />
<p-panel class="p-1">
  <form [formGroup]="form">
    <p-fieldset legend="Endereço">
      <div class="flex flex-wrap gap-4">
        <p-inputmask
          formControlName="cep"
          mask="99999-999"
          placeholder="CEP"
          (onBlur)="getCEP()"
        />
        <input
          pInputText
          id="endereco"
          formControlName="endereco"
          placeholder="Endereço"
        />
        <input pInputText formControlName="bairro" placeholder="Bairro" />
        <input pInputText formControlName="cidade" placeholder="Cidade" />
        <input pInputText formControlName="estado" placeholder="Estado" />
        <input
          pInputText
          formControlName="numero"
          placeholder="Número"
          pKeyFilter="int"
        />
        <input
          pInputText
          formControlName="complemento"
          placeholder="Complemento"
        />
      </div>
    </p-fieldset>

    <p-fieldset legend="Contatos">
      <div class="flex flex-wrap gap-4">
        <p-inputmask
          formControlName="telefone"
          mask="(99) 9999-9999"
          placeholder="Telefone"
        />
        <p-inputmask
          formControlName="whatsapp"
          mask="(99) 99999-9999"
          placeholder="WhatsApp"
        />
        <input
          pInputText
          formControlName="emailContato"
          placeholder="E-mail de contato"
        />
        <input
          pInputText
          formControlName="nomeIgreja"
          placeholder="Nome da Igreja"
        />
        <input
          pInputText
          formControlName="nomeParoco"
          placeholder="Nome do Pároco"
        />
      </div>
    </p-fieldset>

    <p-fieldset legend="Horários">
      <div class="flex flex-wrap gap-4">
        <div formArrayName="missas">
          <div
            *ngFor="let horarioCtrl of horarios.controls; let i = index"
            [formGroupName]="i"
            class="inline-flex gap-4 pt-4"
          >
            <p-select
              formControlName="diaSemana"
              [options]="diasSemana"
              optionLabel="label"
              optionValue="key"
              placeholder="Selecione o dia"
              class="w-100"
            ></p-select>

            <p-datepicker
              inputId="calendar-timeonly"
              formControlName="horario"
              [timeOnly]="true"
              [showTime]="true"
              [placeholder]="'Selecione o horário'"
              [appendTo]="'body'"
            >
            </p-datepicker>
            <small
              id="username-help"
              *ngIf="horarioCtrl.get('horario')?.hasError('minutosInvalidos')"
            >
              Os minutos devem ser 00, 15, 30 ou 45.
            </small>

            <input
              pInputText
              formControlName="observacao"
              placeholder="Observação"
              class="w-full"
            />

            <p-button icon="pi pi-trash" (click)="removerHorario(i)"></p-button>
          </div>
        </div>
      </div>
      <div class="pt-4">
        <p-button
          label="Novo horário"
          icon="pi pi-plus"
          class="p-button-primary"
          size="small"
          (click)="adicionarHorario()"
        ></p-button>
      </div>
    </p-fieldset>
    <p-fieldset legend="Redes sociais">
      <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-facebook"></i>
          </p-inputgroup-addon>
          <input pInputText formControlName="facebook" placeholder="Facebook" />
        </p-inputgroup>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-instagram"></i>
          </p-inputgroup-addon>
          <input
            pInputText
            formControlName="instagram"
            placeholder="Instagram"
          />
        </p-inputgroup>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-youtube"></i>
          </p-inputgroup-addon>
          <input pInputText formControlName="youtube" placeholder="YouTube" />
        </p-inputgroup>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-tiktok"></i>
          </p-inputgroup-addon>
          <input pInputText formControlName="tiktok" placeholder="TikTok" />
        </p-inputgroup>
      </div>
    </p-fieldset>
    <p-fieldset legend="Foto">
      <p-toast />
      <div *ngIf="form.get('imagem')?.value">
        <img
          [src]="form.get('imagem')?.value"
          alt="Imagem da Igreja"
          width="100"
          height="100"
        />
      </div>
      <p-fileupload
        mode="basic"
        chooseIcon="pi pi-upload"
        accept="image/*"
        maxFileSize="1000000"
        (onSelect)="onImageSelect($event)"
        chooseLabel="{{ form.get('imagem')?.value ? 'Alterar imagem' : 'Selecionar foto'}}"
      >
      </p-fileupload>
    </p-fieldset>
    <div class="pt-4">
      <p-button *ngIf="!alter" (click)="submit()" type="submit"
        >Cadastrar</p-button
      >
      <p-button *ngIf="alter" (click)="save()" type="submit">Salvar</p-button>
    </div>
  </form>
</p-panel>
