<div class="">
    <p-panel class="p-1 mt-4" header="Anunciantes">
      <p-carousel
        [value]="advertisementCategories"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
        styleClass="custom-carousel"
      >
        <ng-template pTemplate="item" let-category>
          <p-card
            [style]="{ width: '25rem', overflow: 'hidden' }"
            [header]="category.header"
            [subheader]="category.subheader"
          >
            <div class="flex flex-column gap-2">
              <a
                *ngFor="let link of category.links"
                [href]="link.url"
                target="_blank"
                rel="noopener noreferrer"
                class="p-button font-bold w-full"
              >
                {{ link.label }}
              </a>
            </div>
          </p-card>
        </ng-template>
      </p-carousel>
    </p-panel>
  </div>