<div class="hero">
    <h1></h1>
    <p></p>
  </div>
  <p-panel class="p-1" header="Patrocinadores"> 
      <div class="flex justify-center">
          <div class="flex flex-wrap gap-4 justify-center">
              <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                  <ng-template #header>
                      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                  </ng-template>
                  <ng-template #title> Patrocinador #01 </ng-template>
                  <ng-template #subtitle> Lorem ipsum </ng-template>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                  </p>
                  <ng-template #footer>
                      <div class="flex gap-4 mt-1">
                          <p-button label="Acessar" class="w-full" styleClass="w-full" />
                      </div>
                  </ng-template>
              </p-card>
  
              <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                  <ng-template #header>
                      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                  </ng-template>
                  <ng-template #title> Patrocinador #02 </ng-template>
                  <ng-template #subtitle> Lorem ipsum </ng-template>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                  </p>
                  <ng-template #footer>
                      <div class="flex gap-4 mt-1">
                          <p-button label="Acessar" class="w-full" styleClass="w-full" />
                      </div>
                  </ng-template>
              </p-card>
  
              <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                  <ng-template #header>
                      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                  </ng-template>
                  <ng-template #title> Patrocinador #03 </ng-template>
                  <ng-template #subtitle> Lorem ipsum </ng-template>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                  </p>
                  <ng-template #footer>
                      <div class="flex gap-4 mt-1">
                          <p-button label="Acessar" class="w-full" styleClass="w-full" />
                      </div>
                  </ng-template>
              </p-card>
          </div>
      </div>
  </p-panel>
  