<div class="hero">
  <h1></h1>
  <p></p>
</div>
<p-panel class="p-1" header="Selecione seus filtros">
  <!-- <app-loading *ngIf="isLoading" /> -->
  <form [formGroup]="form" class="filters flex flex-wrap gap-4">
    <!-- Estado -->
    <p-iftalabel class="flex-1">
      <p-select
        [options]="states"
        optionLabel="nome"
        optionValue="sigla"
        [filter]="true"
        filterBy="nome"
        [showClear]="!isLoadingAddress"
        formControlName="Uf"
        placeholder="Selecione um estado"
        class="w-full"
        [loading]="isLoadingAddress"
        id="Uf"
        (onChange)="getAddress(this.form.value.Uf)"
      >
      </p-select>
      <label for="Uf">Estado</label>
    </p-iftalabel>

    <!-- Cidade -->
    <p-iftalabel class="flex-1">
      <p-select
        [options]="cities"
        [filter]="true"
        filterBy="cities"
        [showClear]="true"
        formControlName="Localidade"
        placeholder="Selecione uma cidade"
        class="w-full"
        id="Localidade"
        [loading]="isLoadingCities"
        (onChange)="getAddress(this.form.value.Uf, this.form.value.Localidade)"
      >
      </p-select>
      <label for="Localidade">Localidade</label>
    </p-iftalabel>

    <!-- Bairro -->
    <p-iftalabel class="flex-1">
      <p-select
        [options]="districts"
        [filter]="true"
        filterBy="districts"
        [showClear]="true"
        formControlName="Bairro"
        placeholder="Selecione um bairro"
        class="w-full"
        id="Bairro"
        [loading]="isLoadingDistricts"
      >
      </p-select>
      <label for="Bairro">Bairros</label>
    </p-iftalabel>

    <p-iftalabel class="flex-1">
      <p-select
        [options]="weakDays"
        [filter]="true"
        filterBy="weakDays"
        optionLabel="nome"
        optionValue="id"
        [showClear]="true"
        formControlName="DiaDaSemana"
        placeholder="Dias da semana"
        class="w-full"
        id="DiasSemana"
      >
      </p-select>
      <label for="DiasSemana">Dias da semana</label>
    </p-iftalabel>

    <p-floatlabel class="flex-1" variant="in">
      <p-datepicker
        formControlName="Horario"
        [timeOnly]="true"
        inputId="Horario"
        showIcon
        iconDisplay="input"
        [stepMinute]="15"
        [readonlyInput]="true"
      />
      <label for="Horario">Horário</label>
    </p-floatlabel>
  </form>
  <br />
  <div class="flex justify-center w-full">
    <p-toast position="top-right"></p-toast>
    <p-inputgroup class="flex justify-center gap-2">
      <p-button
        label="Buscar"
        icon="pi pi-check"
        [loading]="isLoading"
        [disabled]="form.invalid || isLoading"
        (onClick)="searchFilter()"
        class="w-30"
      />
      <p-button
        label="Limpar"
        icon="pi pi-eraser"
        [loading]="isLoading"
        variant="outlined"
        severity="secondary"
        [disabled]="form.invalid || isLoading"
        (onClick)="clearFilter()"
      />
    </p-inputgroup>
  </div>
</p-panel>

<p-panel *ngIf="churchInfo && churchInfo.length > 0">
  <p-dataview [value]="churchInfo" [rows]="3" [paginator]="true">
    <ng-template #list let-items>
      <div class="grid grid-cols-12 gap-4 grid-nogutter">
        <div
          class="col-span-12"
          *ngFor="let church of items; let first = first"
        >
          <div
            class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
            [ngClass]="{
              'border-t border-surface-200 dark:border-surface-700': !first
            }"
          >
            <!-- Imagem -->
            <div
              class="bg-surface-50 flex justify-center items-center rounded p-4"
            >
              <div class="relative mx-auto text-center">
                <div class="image-container flex justify-center">
                  <p-image
                    class="church-image"
                    [src]="
                      church.imagemUrl ?? '/assets/church/naodisponivel.png'
                    "
                    [alt]="church.nome"
                    width="150"
                    height="150"
                  />
                </div>
                <div
                  *ngIf="church.redesSociais?.length"
                  class="social-icons flex justify-center mt-2"
                >
                  <a
                    *ngFor="let rede of church.redesSociais"
                    [href]="rede.url"
                    target="_blank"
                    class="icon-link mr-2"
                  >
                    <i [ngClass]="getSocialIcon(rede.url)"></i>
                  </a>
                </div>

                <div class="flex justify-center mt-4">
                  <p-inputgroup>
                    <button
                      pButton
                      icon="pi pi-pencil"
                      size="small"
                      label="Editar"
                      pTooltip="Em breve."
                      disabled
                      class="p-button-sm p-button-rounded p-button-outlined p-button-text text-sm"
                      style="color: #2c3e50; border-color: #bdc3c7"
                      (click)="editChurch()"
                    ></button>
                    <button
                      pButton
                      icon="pi pi-exclamation-circle"
                      size="small"
                      label="Denunciar"
                      class="p-button-sm p-button-rounded p-button-outlined p-button-text text-sm"
                      style="color: #2c3e50; border-color: #bdc3c7"
                      (click)="abrirModalDenuncia()"
                    ></button>
                  </p-inputgroup>
                </div>
                <app-modal
                  [visible]="isModalVisible"
                  (visibleChange)="isModalVisible = $event"
                  [header]="modalHeader"
                  (onHide)="fecharModal()"
                  (onShow)="onModalShow()"
                  styleClass="w-full md:w-1/4"
                >
                  <form
                    [formGroup]="reportForm"
                    (ngSubmit)="reportChurch(churchInfo)"
                  >
                    <div class="mb-4">
                      <label
                        for="titulo"
                        class="block text-gray-700 text-sm font-bold mb-2"
                        >Título</label
                      >
                      <input
                        type="text"
                        id="titulo"
                        formControlName="titulo"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Título da denúncia"
                      />
                      <div
                        *ngIf="
                          reportForm.get('titulo')?.invalid &&
                          (reportForm.get('titulo')?.dirty ||
                            reportForm.get('titulo')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        Título é obrigatório.
                      </div>
                    </div>

                    <div class="mb-4">
                      <label
                        for="descricao"
                        class="block text-gray-700 text-sm font-bold mb-2"
                        >Descrição</label
                      >
                      <textarea
                        id="descricao"
                        formControlName="descricao"
                        rows="3"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Descreva a denúncia"
                      ></textarea>
                      <div
                        *ngIf="
                          reportForm.get('descricao')?.invalid &&
                          (reportForm.get('descricao')?.dirty ||
                            reportForm.get('descricao')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        Descrição é obrigatória.
                      </div>
                    </div>

                    <div class="mb-4">
                      <label
                        for="nomeDenunciador"
                        class="block text-gray-700 text-sm font-bold mb-2"
                        >Seu Nome</label
                      >
                      <input
                        type="text"
                        id="nomeDenunciador"
                        formControlName="nomeDenunciador"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Seu nome"
                      />
                      <div
                        *ngIf="
                          reportForm.get('nomeDenunciador')?.invalid &&
                          (reportForm.get('nomeDenunciador')?.dirty ||
                            reportForm.get('nomeDenunciador')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        Seu nome é obrigatório.
                      </div>
                    </div>

                    <div class="mb-4">
                      <label
                        for="emailDenunciador"
                        class="block text-gray-700 text-sm font-bold mb-2"
                        >Seu Email</label
                      >
                      <input
                        type="email"
                        id="emailDenunciador"
                        formControlName="emailDenunciador"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="seu@email.com"
                      />
                      <div
                        *ngIf="
                          reportForm.get('emailDenunciador')?.invalid &&
                          (reportForm.get('emailDenunciador')?.dirty ||
                            reportForm.get('emailDenunciador')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        <div
                          *ngIf="
                      reportForm.get('emailDenunciador')?.errors?.['required']
                    "
                        >
                          Email é obrigatório.
                        </div>
                        <div
                          *ngIf="reportForm.get('emailDenunciador')?.errors?.['email']"
                        >
                          Email inválido.
                        </div>
                      </div>
                    </div>

                    <div class="flex items-center justify-end">
                      <button
                        type="button"
                        (click)="isModalVisible = false"
                        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2 focus:outline-none focus:shadow-outline"
                      >
                        Cancelar
                      </button>
                      <button
                        type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                      >
                        Denunciar
                      </button>
                    </div>
                  </form>
                </app-modal>
              </div>
            </div>

            <!-- Conteúdo -->
            <div
              class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6"
            >
              <div
                class="flex flex-col md:flex-row justify-between items-start gap-2"
              >
                <!-- Detalhes da Igreja -->
                <div>
                  <div
                    class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2"
                  >
                    {{ church.nome }} - {{ church.paroco }}
                  </div>
                  <div
                    class="font-small text-surface-900 dark:text-surface-0 mt-2"
                  >
                    {{ church.endereco.logradouro }},
                    {{ church.endereco.numero }} {{ church.endereco.bairro }} -
                    {{ church.endereco.uf }}/{{ church.endereco.estado }}
                  </div>
                  <div
                    *ngIf="
                      church.contato?.telefone ||
                      church.contato?.telefoneWhatsApp
                    "
                    class="font-small text-surface-900 dark:text-surface-0 mt-2"
                  >
                    Telefone: ({{ church.contato?.ddd }})
                    {{ church.contato?.telefone }} / WhatsApp: ({{
                      church.contato?.dddWhatsApp
                    }}) {{ church.contato?.telefoneWhatsApp }}
                  </div>
                  <p-divider />
                  <!-- Lista de Horários -->
                  <div class="font-small mt-2">
                    <div
                      class="text-lg font-medium text-surface-900 dark:text-surface-0 mb-2"
                    >
                      Horários:
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                      <div *ngIf="church.missas?.length">
                        <div
                          *ngFor="let mass of getFormattedMasses(church.missas)"
                        >
                          <p
                            class="font-small text-surface-900 dark:text-surface-0 mt-2 flex items-center gap-2"
                          >
                            {{ mass.horario }}
                            <i
                              *ngIf="
                                mass.observacao &&
                                mass.observacao !== 'Sem observação'
                              "
                              class="pi pi-info-circle text-blue-500 cursor-pointer"
                              pTooltip="{{ mass.observacao }}"
                              tooltipPosition="top"
                            >
                            </i>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Informações de Alteração -->
          <div
            class="font-small text-xs text-surface-500 dark:text-surface-400 text-right"
          >
            Última alteração: {{ church.alteracao | date }} por
            {{ church.usuario.nome }}
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</p-panel>
