<app-loading *ngIf="isLoading" />
<div class="hero">
  <h1 class="title">Validação de usuário</h1>
  <p>Estamos quase lá...</p>
</div>
<div class="container text-center">
  <small
    >Para prosseguir com a alteração ou criação da Igreja, precisamos confirmar
    o seu e-mail, preencha os campos abaixo e você receberá um código.</small
  >
  <form [formGroup]="form" class="flex flex-wrap gap-4">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-user"></i>
      </p-inputgroup-addon>
      <input pInputText formControlName="nome" placeholder="Nome" />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-at"></i>
      </p-inputgroup-addon>
      <input pInputText formControlName="email" placeholder="E-mail" />
    </p-inputgroup>

    <div class="flex items-center">
      <p-checkbox id="termos" formControlName="aceitarTermo" [binary]="true" />
      <label for="termos" class="ml-2"> Aceito os termos de uso </label>
    </div>

    <div class="flex items-center">
      <p-checkbox formControlName="aceitarPromocao" [binary]="true" />
      <label for="termos" class="ml-2"> Aceito receber promoções </label>
    </div>
  </form>
  <p-button [disabled]="form.invalid" (click)="generateValidationCode()">
    Continuar
  </p-button>
</div>
