<div>
  <h2 style="font-size: 32px">Termos de Uso - Busca Missa</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Bem-vindo ao Busca Missa! Este Termo de Uso rege o uso de nossos serviços.
      Leia atentamente antes de utilizar nossa plataforma. Ao acessar ou utilizar
      nossos serviços, você concorda com os termos descritos abaixo.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px; color: #009959">1. Aceitação dos Termos</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Ao utilizar o site Busca Missa, você declara ter lido, compreendido e aceitado
      este Termo de Uso em sua totalidade. Caso não concorde com alguma parte,
      pedimos que não utilize nossos serviços.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px; color: #009959">2. Descrição dos Serviços</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      O Busca Missa oferece ferramentas para:
    </p>
    <ul style="font-size: 16px; color: #0d1117">
      <li>Localizar missas e eventos religiosos.</li>
      <li>Receber informações e promoções relacionadas à fé e espiritualidade.</li>
      <li>Conectar-se com comunidades religiosas.</li>
    </ul>
    <p style="font-size: 16px; color: #0d1117">
      O conteúdo disponibilizado é informativo e sujeito a alterações sem aviso prévio.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px; color: #009959">3. Uso Aceitável</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Ao utilizar o Busca Missa, você concorda em:
    </p>
    <ul style="font-size: 16px; color: #0d1117">
      <li>Não praticar atividades ilegais, ofensivas ou prejudiciais.</li>
      <li>Não utilizar a plataforma para enviar spam ou outros conteúdos indesejados.</li>
      <li>Não tentar violar a segurança ou integridade do sistema.</li>
    </ul>
    <p style="font-size: 16px; color: #0d1117">
      Reservamo-nos o direito de suspender ou encerrar contas que violem estas diretrizes.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px; color: #009959">4. Direitos de Propriedade Intelectual</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Todos os direitos de propriedade intelectual do conteúdo do Busca Missa,
      incluindo textos, imagens, logos e software, pertencem ao Busca Missa ou aos
      seus licenciadores. Você não está autorizado a reproduzir, distribuir ou
      modificar este conteúdo sem nossa permissão prévia.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px; color: #009959">7. Limitação de Responsabilidade</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Embora nos esforcemos para fornecer informações precisas e atualizadas, não
      garantimos que todos os conteúdos sejam livres de erros ou adequados às suas
      necessidades específicas. O Busca Missa não se responsabiliza por:
    </p>
    <ul style="font-size: 16px; color: #0d1117">
      <li>Erros ou omissões no conteúdo.</li>
      <li>Problemas técnicos que impeçam o uso da plataforma.</li>
      <li>Danos diretos, indiretos ou incidentais resultantes do uso dos nossos serviços.</li>
    </ul>
  </div>
  <br />

  <h2 style="font-size: 32px; color: #009959">8. Privacidade</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      O uso de nossos serviços está sujeito à nossa Política de Privacidade, que
      descreve como coletamos, utilizamos e protegemos suas informações.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px; color: #009959">9. Modificações nos Termos</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Reservamo-nos o direito de alterar este Termo de Uso a qualquer momento. Caso
      isso ocorra, notificaremos os usuários por meio do site ou e-mail. O uso
      contínuo da plataforma após as alterações constitui sua aceitação das novas
      condições.
    </p>
  </div>
  <br />
</div>
