.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px; // Altura padrão do mat-toolbar
  font-size: 24px;
  font-weight: bold;
  color: #999;

  .title {
    text-align: center;
    flex-grow: 1;
    img {
      padding: 5px;
      max-width: 40px;
    }
  }
}