<div class="auth-container text-center">
    <h2 class="title">Confirmação de usuário</h2>
    <small>Foir enviado para {{ email }} um código de confirmação, por favor, insirá o código recebido abaixo.</small>
    <br>
    <form [formGroup]="form">
      <div class="code-inputs">
        <input
          *ngFor="let index of [0,1,2,3,4,5]; let i = index"
          type="text"
          maxlength="1"
          (input)="moveFocus($event, i)"
          (keydown.backspace)="handleBackspace($event, i)"
          [(ngModel)]="code[i]"
          #codeInput
        />
      </div>
  
      <button
        mat-raised-button
        color="warn"
        class="finalizar-button"
        [disabled]="!isCodeComplete()"
        (click)="validateCode()"
      >
        Finalizar
      </button>
  
      <a class="resendCode" (click)="resendCode()">Reenviar token via e-mail</a>
  
      <p class="terms">
        Ao clicar em Finalizar, você concorda com os
        <a href="#">Termos de Uso</a>,
        <a href="#">Política de Privacidade</a> - LGPD
        de <a href="/">Busca Missa &copy;</a>
      </p>
    </form>
  </div>
  