<app-loading *ngIf="isLoading" />
<div class="hero">
  <h1 class="title">Confirmação de usuário</h1>
  <p>Último passo...</p>
</div>
<div class="auth-container text-center">
  <form [formGroup]="form">
    <div class="flex flex-col items-center">
      <p class="text-muted-color block mb-8">
        Foi enviado para <strong>{{ email }}</strong> um código de confirmação,
        por favor, insira o código recebido abaixo.
      </p>
      <p-inputotp
        formControlName="codigoValidador"
        [length]="6"
        [integerOnly]="true"
      />
      <div class="flex justify-between mt-8 self-stretch">
        <p-button label="Reenviar código" [link]="true"  class="p-0" />
        <p-button label="Confirmar código" (click)="validateCode()" />
      </div>
    </div>

    <p class="terms">
      Ao clicar em Finalizar, você concorda com os
      <a href="#">Termos de Uso</a>, <a href="#">Política de Privacidade</a> -
      LGPD de <a href="/">Busca Missa &copy;</a>
    </p>
  </form>
</div>
