<p-panel>
  <h2 style="font-size: 32px">O que são cookies?</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Esta Política de Cookies explica o que são cookies e como os usamos, os
      tipos de cookies que usamos, ou seja, as informações que coletamos usando
      cookies e como essas informações são usadas, e como gerenciar as
      configurações de cookies.
    </p>
    <p style="font-size: 16px; color: #0d1117">
      Os cookies são pequenos arquivos de texto usados para armazenar pequenas
      informações. Eles são armazenados no seu dispositivo quando o site é
      carregado no seu navegador. Estes cookies ajudam-nos a fazer com que o
      site funcione corretamente, torná-lo mais seguro, proporcionar uma melhor
      experiência ao usuário e compreender o desempenho do site e analisar o que
      funciona e onde precisa de ser melhorado.
    </p>
  </div>
  <br />
  <h2 style="font-size: 32px; color: #009959">Como usamos cookies?</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Como a maioria dos serviços on-line, nosso site usa cookies próprios e de
      terceiros para diversas finalidades. Os cookies primários são
      principalmente necessários para que o site funcione corretamente e não
      coletam nenhum dos seus dados de identificação pessoal.
    </p>
    <p style="font-size: 16px; color: #0d1117">
      Os cookies de terceiros usados em nosso site são principalmente para
      entender o desempenho do site e como você interage com nosso site,
      mantendo nossos serviços seguros, fornecendo anúncios que sejam relevantes
      para você e, em suma, proporcionando-lhe uma experiência de usuário cada
      vez melhor e ajudando a acelerar suas futuras interações com nosso site.
    </p>
  </div>
  <br /><br />
  <p style="font-size: 16px; color: #0d1117">
    Para remover cookies do navegador, por favor olhe as instruções nesse
    <a
      style="font-size: 16px; color: #0d1117"
      href="https://goadopt.io/blog/apagar-cookies-cache-navegador/"
      >nesse link</a
    >
  </p>
  <br />
</p-panel>
