<p-panel>
  <h2 style="font-size: 32px;">Termo de Privacidade – Busca Missa</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      A <strong>buscamissa.com.br</strong> se preocupa com a privacidade dos seus usuários e está comprometida em proteger as informações coletadas.
      Este termo de privacidade descreve como utilizamos os dados fornecidos pelos usuários, incluindo Nome e Email.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px;">1. Coleta de Informações</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Coletamos as seguintes informações de nossos usuários:
      <br /><br />
      <strong>Nome:</strong> Para personalização de comunicações.<br />
      <strong>Email:</strong> Para envio de conteúdos relevantes, como campanhas de marketing, atualizações sobre serviços e informações relacionadas ao site.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px;">2. Uso das Informações</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Os dados fornecidos são utilizados exclusivamente para:
    </p>
    <ul style="font-size: 16px; color: #0d1117; padding-left: 1rem;">
      <li>Enviar materiais de marketing, incluindo newsletters, promoções e eventos relacionados ao buscamissa.com.br;</li>
      <li>Garantir uma comunicação personalizada e relevante.</li>
    </ul>
  </div>
  <br />

  <h2 style="font-size: 32px;">3. Compartilhamento de Informações</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Não compartilhamos os dados pessoais coletados com terceiros, exceto em casos obrigatórios por lei ou para atender às solicitações legais.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px;">4. Armazenamento e Segurança</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      As informações são armazenadas em ambientes seguros, com medidas técnicas e organizacionais apropriadas para proteger os dados contra acessos não autorizados, perda ou uso indevido.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px;">5. Consentimento</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Ao fornecer seus dados (Nome e Email) em nosso site, você concorda com este Termo de Privacidade e autoriza o uso das informações para os fins descritos.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px;">6. Direito dos Usuários</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Você tem o direito de:
    </p>
    <ul style="font-size: 16px; color: #0d1117; padding-left: 1rem;">
      <li>Solicitar o acesso, correção ou exclusão dos seus dados pessoais;</li>
      <li>Retirar o consentimento para o uso de seus dados a qualquer momento, enviando uma solicitação para nosso canal de atendimento.</li>
    </ul>
  </div>
  <br />

  <h2 style="font-size: 32px;">7. Alterações no Termo de Privacidade</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Reservamo-nos o direito de alterar este Termo de Privacidade a qualquer momento.
      As atualizações serão publicadas nesta página e notificaremos os usuários sempre que mudanças significativas forem feitas.
    </p>
  </div>
  <br />

  <h2 style="font-size: 32px;">8. Contato</h2>
  <div>
    <p style="font-size: 16px; color: #0d1117">
      Para dúvidas, solicitações ou esclarecimentos sobre este Termo de Privacidade, entre em contato conosco pelo 
      <a href="mailto:contato@buscamissa.com.br" style="color: #0d1117; text-decoration: underline;">email</a>.
    </p>
  </div>
  <br />
</p-panel>
